#banner
	.banner_content
		%h1 NoteBook
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - Dmytro

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p If you join a company, my general advice is to join a company on a breakout trajectory.
			.callout
				%h2 Rocket
				%p If you join a company, my general advice is to join a company on a breakout trajectory.
			.callout
				%h2 Lightning
				%p If you join a company, my general advice is to join a company on a breakout trajectory. 
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up!
		%button= link_to "Click Me!", new_user_registration_path

%footer
	%p &copy; sa2rdayMorning
